<h1>ブログ一覧</h1>
<table>
  <tr>
    <th>内容</th>
  </tr>
<% @mini_blogs.each do |mini_blog| %>
  <tr>
    <td><%= mini_blog.content %></td>
    <td><%= link_to "編集", edit_mini_blog_path(mini_blog.id) %></td>
  </tr>
<% end %>
</table>
